<style>
body {
    position: relative;    
}

body::after {
    content: '';
    position: absolute;
    top:0;
    width: 100vw;
    height: 100%;
    left:50%;
    transform:translateX(-50%);
    background-image: "/app/assets/images/class.png";
    background-size: cover !important;
    background-repeat: no-repeat;
    z-index: -100;
    opacity: 0.3
}

body, html {
    height: 100%;
}

.row {
  padding-top: 30% !important;
}
</style>

<div>
  <div class="row">  
    <h1 class="center-text">Let's Make CMU <span class="accent-color">Livelier</span></h1>  
    
      <div class="card">
        <div class="card-content">
          <p>The Pittsburgh Animal Treatment Services are a 
            group of vets dedicated to providing you and 
            your pets with the finest care in the Pittsburgh 
            area.  The links below will tell you more about 
            our services and in the near future we will be 
            expanding this site so that customers like 
            yourself can directly access records for your pets.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
