@import "materialize/components/color";
$primary-color-dark:   #616161;
$primary-color:        #9E9E9E;
$primary-color-light:  #F5F5F5;
$primary-color-text:   #212121;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
@import "materialize";

.dark {
  color: $primary-color-dark !important;
}

.accent-color {
  color: $accent-color;
}

.accent-color-bg {
  background-color: $accent-color;
}

.primary-color-bg {
  background-color: $primary-color;
}

.waves-effect.waves-accent .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: $accent-color;
}

.waves-effect.waves-default .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: $primary-color;
}

.btn:hover {
  background-color:inherit;
}

.bg-img
{
    width: 100%;
    background: #FFF url(https://www.cmu.edu/cheme/images/headers/cit_cheme_pse_2014_056_a.jpg) no-repeat center top;
    margin: 0 auto;
    height:100%;
}

.center-text {
  text-align: center;
}
